@page "/SamplePages/FromPage"
<h3>From Page</h3>
<header>
    <p>
        <label>
            First Name:
            <input type="text" @bind="employee.FirstName" />
        </label>
    </p>
    <p>
        <label>
            Last Name:
            <input type="text" @bind="employee.LastName" />
        </label>
    </p>
    <p>
        <label>
            Age:
            <input type="number" @bind="employee.Age" />
        </label>
    </p>
    <button class="btn-success"
    @onclick="(() => SendToToPage())">
        Send
    </button>
</header>