@page "/SamplePages/ToPage"
<h3>ToPage</h3>
<header>
    <p>
        <label>
            First Name: @employee.FirstName
        </label>
    </p>
    <p>
        <label>
            Last Name: @employee.LastName
        </label>
    </p>
    <p>
        <label>
            Age:
            Last Name: @employee.Age
        </label>
    </p>
 
</header>

